body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top left, #65E5C2, #68A3F5, #FC66F0);
}

.top-right-menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 200px;
    top: 40px;
    right: 40px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    backdrop-filter: blur(5px);
}

#toggle-sidebar {
    top: 100px;
    right: 40px;
    width: 120px;
}

#preferences {
    top: 160px;
    right: 40px;
    width: 120px;
}

#logout {
    top: 220px;
    right: 40px;
    width: 120px;
}

#map {
    height: 100vh;
    width: 100vw;
}

#panel {
    height: 100%;
    width: null;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
}

.open {
    width: 250px;
}

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place, p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
}

.details {
    color: darkslategrey;
}

a {
    text-decoration: none;
    color: cadetblue;
}